body {font-size: 62.5%;}
.Box {display: block; width: 40rem; height: 40rem; margin: auto auto;}
.Box_ye {display: block; width: 10rem; height: 10rem; background-color: #FFB208; float: left; margin: 2rem 0 0 2rem; border-radius: 2rem;}
