body {font-size: 62.5%;}
.Box {display: block; width: 40em; height: 40em; margin: auto auto;}
.Box_ye {display: block; width: 10em; height: 10em; background-color: #FFB208; float: left; margin: 2em 0 0 2em; border-radius: 15%;}